.nav-item {
    /* color: pink; */
    margin-right: 10px;
}
.nav-active {
    color: skyblue;
}
.nav-item:active {
    color: red;
}
.reply-input {
    display: flex;
    align-items: center;
    margin: 20px 0;
    /* justify-content: center; */
}